.content {
  color: black;
}

.lp-card {
  background: #fff !important;
}
.deposit-card {
  background: #e9e9eb !important;
}

.order-card-bg {
  background-color: #ffffff !important;
}
.expand-card-bg {
  background-color: #e9e9eb !important;
}
.confirm-info {
  background: #e9e9eb !important;
}
.history-card {
  background-color: #ffffff !important;
}
