.content {
  color: white;
}

.lp-card {
  box-shadow: none !important;
  background: #2c2e3d !important;
}

.order-card-bg {
  background-color: #2c2e3d !important;
}
.expand-card-bg {
  background-color: #1d1f29 !important;
}
